@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Glass+Antiqua');
#game-container {
    font-family: 'Glass Antiqua', cursive;
}

body {
    font-family: 'Raleway';
    width: 100%;
    height: 100%;
    position: fixed;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective: 600px;
}

img{
    max-width: 100%;
}

div#interface {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

#game-canvas {
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 999;
    pointer-events: none;
}

div#sound-controller {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    width: 50px;
    padding: 12px;
    background: url(/assets/texture/marble-texture-1.jpg);
    background-size: 180px;
    box-sizing: border-box;
}

div#sound-controller img.volume_on {
    display: block;
}

div#sound-controller img.volume_off {
    display: none;
}

div#sound-controller.shutted img.volume_on {
    display: none;
}

div#sound-controller.shutted img.volume_off {
    display: block;
}

div#game-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/texture/pavement-grey.png');
    background-size: 320px;
    background-position: 51% 51%;
}

div.player-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 147px;
    background-image: url("/assets/texture/stairs-grey.png");
    background-size: 445px;
    background-position: 10% -8px;
    box-shadow: 0px 0px 2px #000000, 0px 0px 36px rgba(0, 0, 0, 0.42);
}

div#player-2-section {
    background-position: 10% 79px;
}

.player-avatar {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    z-index: 2;
    border: 5px solid #dea00f;
}

.player-avatar:before {
    content: "";
    position: absolute;
    background: radial-gradient(circle at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    bottom: 2.5%;
    left: 5%;
    opacity: 0.5;
    height: 100%;
    width: 90%;
    -webkit-filter: blur(5px);
    z-index: 2;
}
.player-avatar:after {
    width: 20%;
    height: 40%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: #FFFFFF;
    -webkit-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    -moz-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    -ms-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    -o-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    transform: translateX(82px) translateY(-1px) skewX(35deg);
    -webkit-filter: blur(6px);
    opacity: 0.8;
}

div#player-1-section {
    top: initial;
    bottom: 0;
}

div#player-1-section .player-avatar {
    top: -82px;
}

div#player-2-section .player-avatar {
    bottom: -77px;
}

.player-HUD {
    color: #ffffff;
    text-align: center;
    /* text-shadow: 0 0 30px #000000, 0 0 10px #000000; */
    position: relative;
    width: 500px;
    height: 146px;
    left: 50%;
    margin-left: -250px;
}

.player-HUD {
    display: inline-block;
    /* height: 80px; */
    /* margin: 30px 20px; */
    padding: 0 0px;
    background-color: #ffffff;
    background-image: url(/assets/texture/marble-texture-1.jpg);
    background-size: 900px;
    background-position: 50%;
    border-width: 29px;
    border-image: url(/assets/img/button-pattern-5.png);
    border-image-repeat: repeat;
    border-image-slice: 61;
    border-style: solid;
    border-radius: 0;
    line-height: 22px;
    text-transform: uppercase;
    color: #c59d2e;
    font-size: 24px;
    position: relative;
    z-index: 1;
    box-shadow: 1px 10px 22px rgba(0, 0, 0, 0.69);
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
    transform: scale(1);
    cursor: pointer;
    position: relative;
    /* top: 0; */
}

.player-HUD:after {
    position: absolute;
    bottom: -36px;
    width: calc(100% + 58px);
    content: "";
    height: 7px;
    left: -29px;
    background: #bbbbbb;
    box-shadow: 1px 13px 22px #000000;
}

div#player-1-section .player-HUD {
    bottom: 5px;
    border-radius: 20px 20px 0 0;
}

.player-informations {
    font-size: 20px;
}

.player-PV {
    position: absolute;
    left: -30px;
    line-height: 18px;
    height: 29px;
    width: calc(50% - 20px);
    border: 3px solid #dea00f;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 14px 0 0 14px;
}

#player-2-section .player-PV {bottom: -25px;}

#player-1-section .player-PV {top: -29px;}

.player-ultime {
    position: absolute;
    right: -29px;
    line-height: 17px;
    height: 29px;
    width: calc(50% - 22px);
    border: 3px solid #dea00f;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 14px 14px 0;
}

#player-2-section .player-ultime {bottom: -25px;}

#player-1-section .player-ultime {top: -29px;}


.player-PV-bar {
    height: 23px;
    position: absolute;
    left: 0;
    top: 0px;
    background: rgba(233, 30, 30, 0.8);
    border-radius: 10px 0 0 10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.player-ultime-bar {
    height: 23px;
    position: absolute;
    left: 0;
    top: 0px;
    background: rgba(0, 149, 212, 0.8);
    border-radius: 0 10px 10px 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.bar-glass {
    background: linear-gradient( -178deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.6) 15%, rgba(255,255,255,0.1) 30%, rgba(0,0,0,0.0) 50%, rgba(0,0,0,0.0) 100% );
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0px;
    border-radius: 10px 10px 10px 10px;
}

.player-PV .bar-glass {
    border-radius: 10px 0 0 10px;
    color: #FFFFFF;
}

.player-ultime .bar-glass {
    border-radius: 0 10px 10px 0;
}

.player-hero {
    position: absolute;
    left: 0;
    width: calc(50% - 60px);
    top: 35px;
    font-size: 26px;
    background-color: #565656;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.player-gold {
    position: absolute;
    right: 0;
    width: calc(50% - 60px);
    top: 38px;
    font-size: 26px;
    background-color: #565656;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.player-name {
    position: absolute;
    left: 0;
    width: 100%;
    font-size: 39px;
    line-height: 39px;
    background-color: #565656;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

#player-2-section .player-name {
    top: -10px;
}

#player-1-section .player-name {
    bottom: -10px;
}

#player-1-section .player-hero {
    top: 35px;
}

#player-1-section .player-gold {
    top: 35px;
}
.player-avatar-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%;
    border-radius: 100%;
    box-shadow: inset 0 0 5px #000000;
}

div.player-roller {
    position: absolute;
    width: 100%;
    height: 200px;
}

div#dice-roller {
    position: fixed;
    width: 1000px;
    height: calc(100% - 450px);
    top: 225px;
    left: 50%;
    margin-left: -500px;
    z-index: 0;
}

div#player-2-roller {
    top: 0;
}

div#player-1-roller {
    bottom: 0;
}

.action-buttons {
    width: 100%;
    position: absolute;
    top: 200px;
    height: calc(100% - 400px);
}

.dices-viewer-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.dice-viewer {
    width: 140px;
    height: 140px;
    /* padding: 20px 30px; */
    float: left;
    margin: calc((20% - 140px)/2);
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    transform: scale(1);
    cursor: pointer;
    position: relative;
    z-index: 999;
}

.dice-viewer:hover {
    transform: scale(1.05);
}

.dice-viewer-inner {
    width: 100%;
    height: 100%;
    /* border: 5px solid #dea00f; */
    /*box-shadow: 0px 0px 55px #000000, 0px 0px 25px #000000, 0px 0px 15px #000000;*/
    /* background: rgba(0, 0, 0, 0.43); */
    position: relative;
}

.dice-skin {
    background-image: url(/assets/texture/fc_skin_rock_basic.png);
    background-size: cover;
    background-position: 18% 80%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.dice-viewer {
    -webkit-perspective: 400px;
    perspective: 400px;
}

.cube {
    position: relative;
    width: 140px;
    height: 140px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-50px) rotateX(0) rotateY(0);
    transform: translateZ(-50px) rotateX(0) rotateY(0);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: -webkit-transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.dice-face {
    position: absolute;
    width: 140px;
    height: 140px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 2px;
    overflow: hidden;
    background-size: 1000px;
    background-image: url(/assets/texture/marble-texture-1.jpg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-width: 10px;
    border-image: url(/assets/img/dice-skin-border.png);
    border-image-repeat: repeat;
    border-image-width: 19px;
    border-image-slice: 37;
    border-style: solid;
    border-radius: 0;
}

.top {
    -webkit-transform: translateZ(-70px) rotateX(180deg);
    transform: translateZ(-70px) rotateX(180deg);
}

.front {
    -webkit-transform: translateY(-70px) rotateX(90deg);
    transform: translateY(-70px) rotateX(90deg);
}

.right {
    -webkit-transform: translateX(70px) rotateY(90deg);
    transform: translateX(70px) rotateY(90deg);
}

.left {
    -webkit-transform: translateX(-70px) rotateY(270deg);
    transform: translateX(-70px) rotateY(270deg);
}

.back {
    -webkit-transform: translateY(70px) rotateX(270deg);
    transform: translateY(70px) rotateX(270deg);
}

.bottom {
    -webkit-transform: translateZ(70px);
    transform: translateZ(70px);
}

.dice-viewer[roll-val="3"] .cube {
    -webkit-transform: translateZ(-70px) rotateX(180deg) rotateY(0deg);
    transform: translateZ(-70px) rotateX(192deg) rotateY(0deg);
}

.dice-viewer[roll-val="0"] .cube {
    -webkit-transform: translateZ(-70px) rotateX(-90deg) rotateY(0deg);
    transform: translateZ(-70px) rotateX(-78deg) rotateY(0deg);
}

.dice-viewer[roll-val="1"] .cube {
    -webkit-transform: translateZ(-70px) rotateX(0deg) rotateY(-90deg);
    transform: translateZ(-70px) rotateX(12deg) rotateY(-90deg);
}

.dice-viewer[roll-val="4"] .cube {
    -webkit-transform: translateZ(-70px) rotateX(0deg) rotateY(90deg);
    transform: translateZ(-70px) rotateX(12deg) rotateY(90deg);
}

.dice-viewer[roll-val="5"] .cube {
    -webkit-transform: translateZ(-70px) rotateX(90deg) rotateY(0deg);
    transform: translateZ(-70px) rotateX(102deg) rotateY(0deg);
}

.dice-viewer[roll-val="2"] .cube {
    transform: rotateX(12deg) translateZ(-60px) translateY(-10px);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition:
            -webkit-transform 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 1s cubic-bezier(0.55, 0.055, 0.675, 0.19),
    -webkit-transform 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.dice-viewer.spell-hidden .cube .face-spell {
    opacity: 0;
}

div#player-1-roller .front.dice-face {background-position: 1200px;}

div#player-1-roller .right.dice-face {background-position: 330px;}

div#player-1-roller .bottom.dice-face {background-position: 292px;}

div#player-1-roller .top.dice-face {background-position: 520px;}

div#player-1-roller .left.dice-face {background-position: 700px;}

div#player-1-roller .back.dice-face {background-position: 955px;}



div#player-2-roller .front.dice-face {background-position: 280px;}

div#player-2-roller .right.dice-face {background-position: 560px;}

div#player-2-roller .bottom.dice-face {background-position: 900px;}

div#player-2-roller .top.dice-face {background-position: 190px;}

div#player-2-roller .left.dice-face {background-position: 420px;}

div#player-2-roller .back.dice-face {background-position: 900px;}

.action-button-inner {top: 50%;position: absolute;left: 0;width: 100%;height: 100px;line-height: 100px;margin-top: -66px;display: table;text-align: center;vertical-align: top;}

div.action-button {
    display: inline-block;
    height: 80px;
    margin: 30px 20px;
    padding: 0 40px;
    background-color: #ffffff;
    background-image: url(/assets/texture/marble-texture-1.jpg);
    background-size: 900px;
    background-position: 50%;
    border-width: 29px;
    border-image: url(/assets/img/button-pattern-5.png);
    border-image-repeat: repeat;
    border-image-slice: 61;
    border-style: solid;
    border-radius: 0;
    line-height: 22px;
    text-transform: uppercase;
    color: #c59d2e;
    font-size: 24px;
    position: relative;
    z-index: 1;
    box-shadow: 1px 1px 22px #000000;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
    transform: scale(1);
    cursor: pointer;
    position: relative;
    top: 0;
}

div.action-button:after {
    content:"";
    display:block;
    height: 8px;
    width: calc(100% + 58px);
    background: #cccccc;
    position: absolute;
    bottom: -37px;
    left: -29px;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
    box-shadow: 1px 8px 22px #000000;
}

div.action-button:hover {
    top: 5px;
}

div.action-button:hover:after {
    height: 3px;
    bottom: -31px;
}

span.inset-text {
    background-color: #565656;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.face-spell {
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-position: 50%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.player-PV-state {
    position: relative;
    z-index: 1;
    font-size: 13px;
    box-shadow: inset 0 0 5px #000000;
    border-radius: 10px 0 0 10px;
    line-height: 23px;
    color: #FFFFFF;
}

.player-ultime-state {
    position: relative;
    z-index: 1;
    font-size: 13px;
    box-shadow: inset 0 0 5px #000000;
    border-radius: 0 10px 10px 0;
    line-height: 23px;
    color: #FFFFFF;
}

.player-state-legend {
    position: absolute;
    left: 10px;
    top: 0px;
    z-index: 3;
    font-size: 13px;
    color: #FFFFFF;
}

.player-ultime-state .player-state-legend {
    left: 22px;
}

div#match-data-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 300px;
    color: #FFFFFF;
    font-size: 22px;
    background-size: 900px;
    background-position: 50%;
    border-width: 29px;
    border-image: url(/assets/img/button-pattern-5.png);
    border-image-repeat: repeat;
    border-image-slice: 61;
    border-style: solid;
    background-image: url(/assets/texture/marble-texture-1.jpg);
    box-shadow: 1px 10px 22px rgba(0, 0, 0, 0.42);
}

div#match-data-container:after {
    position: absolute;
    bottom: -36px;
    width: calc(100% + 58px);
    content: "";
    height: 7px;
    left: -29px;
    background: #bbbbbb;
    box-shadow: 1px 13px 22px #000000;
}

div#timer {
    text-align: center;
}

div#time-count, div#time-total {
    display: inline-block;
    background-color: #565656;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    padding: 0 5px;
}

.dice-viewer .dice-viewer-inner:after {
    content:'';
    left: -2px;
    top: -2px;
    width: 144px;
    height: 144px;
    background: rgba(154, 0, 232, 0.0);
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    filter: blur(10px);
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
}

.dice-viewer.selected .dice-viewer-inner:after {
    background: rgba(117, 157, 255, 0.74);
}

.dice-viewer.disabled .dice-viewer-inner:after {
    background: rgba(232, 0, 8, 0.81);
}

.dice-viewer .dice-viewer-inner:before {
    content:'';
    left: 0px;
    top: 0px;
    width: 151px;
    height: 151px;
    background: rgba(0, 0, 0, 0.72);
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    filter: blur(10px);
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
}

.dice-viewer .face-name {
    opacity: 0;
    top: -40px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rgba(255, 255, 255, 0.74);
    text-align: center;
    padding: 0px 0 30px 0;
    position: absolute;
    width: 140px;
    line-height: 16px;
    color: #000000;
    height: 20px;
    letter-spacing: 1px;
    height: 60px;
    border-width: 22px;
    border-image: url(/assets/img/button-pattern-5.png);
    border-image-repeat: repeat;
    border-image-slice: 61;
    border-style: solid;
    border-radius: 0;
    z-index: 99999;
}

.dice-viewer:hover .face-name {
    top: -105px;
    opacity: 1;
}

.face-name {
    background: rgba(255, 255, 255, 0.74);
    text-align: center;
    padding: 20px 0;
    position: absolute;
    top: -60px;
    width: 140px;
    color: #000000;
    letter-spacing: 1px;
}

.face-name:after {
    display: block;
    position: absolute;
    margin-left: -15px;
    top: 52px;
    left: 50%;
    content: "";
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid rgba(255, 255, 255, 0.74);
    z-index: 999;
}

div#player-2-section .player-avatar-front {
    bottom: -84px;
    z-index: 1;
}

div#player-1-section .player-avatar-front {
    bottom: -12px;
    z-index: -1;
}

.player-avatar-front {
    width: 120px;
    height: 130px;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    z-index: 2;
    border-bottom: 8px solid #7f6420;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.59);
}



.player-PV-front {
    border-bottom: 5px solid #80631d;
    content: "";
    display: block;
    position: absolute;
    bottom: -29px;
    left: -23px;
    width: calc(50% - 28px);
    height: 8px;
    z-index: 0;
    border-radius: 0 0 0 34px;
}

.player-ultime-front {
    border-bottom: 5px solid #806522;
    content: "";
    display: block;
    position: absolute;
    bottom: -29px;
    right: -24px;
    width: calc(50% - 26px);
    height: 8px;
    z-index: 0;
    border-radius: 0 0 10px 0;
}

div#player-1-section .player-PV-front {
    top: -4px;
}

div#player-1-section .player-ultime-front {
    top: -4px;
}