@import url('https://fonts.googleapis.com/css?family=Glass+Antiqua');

body {
    font-family: 'Glass Antiqua', cursive;
    letter-spacing: 1px;
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}


img{
    max-width: 100%;
}

div#main {
    width: 100%;
    height: 100%;
    background: url(/assets/img/forge-background.jpg);
    background-size: cover;
    background-position: 50%;
}

h1.game-title {
    color: #FFFFFF;
    text-align: center;
    font-size: 100px;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.32), 0 0 10px rgba(0, 0, 0, 0.49);
    margin-top: 5%;
    /* text-shadow: 0 0 22px #bb9b3e; */
}

span.inset-text {
    background-color: #565656;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

div.enluminures-skined-1 {
    width: calc(50% - 20px);
    min-height: 400px;
    color: #FFFFFF;
    font-size: 22px;
    background-size: 1400px;
    background-position: 50%;
    border-width: 29px;
    border-image: url(/assets/img/button-pattern-5.png);
    border-image-repeat: repeat;
    border-image-slice: 61;
    border-style: solid;
    background-image: url(/assets/texture/marble-texture-1.jpg);
    box-shadow: 1px 10px 22px rgba(0, 0, 0, 0.42);
    float: left;
    margin: 0 10px;
}

div.enluminures-skined-1:nth-child(1) {
    background-position: 93% 67%;
}